.boxInformation {
    display: flex;
    justify-content: center;
}

.boxInformation__boxBlue {
    background-color: #32afd8;
    border-radius: 15px;
    padding: 6px 32px 13px;
    width: 100%;
}

.boxInformation__boxBlue--title {
    color: white;
    font-weight: 600;
    padding: 0 12px 12px;
    text-align: center;
}

.boxInformation__boxTips {
    display: flex;
    justify-content: space-around;
}