.boxBtn__main {
    display: flex;
    flex-direction: column;
}

.boxBtn__main--btns {
    display: flex;
    gap: 30px;
}

.boxBtn__main--monos {
    display: flex;
    height: 287px;
    justify-content: space-between;
}